<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074059811680-8bm7lkaggpfolvv6iaptv3gilafmatvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074059811680-8bm7lkaggpfolvv6iaptv3gilafmatvo</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Yos1kQcmJ41OTWsay2PDtnUMfScQ4hA</string>
	<key>GCM_SENDER_ID</key>
	<string>1074059811680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-6137e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-6137e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074059811680:ios:d2607c07c3cb02b13ddc05</string>
</dict>
</plist>